# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
   . /etc/bashrc
fi

#
# Sfecific configuration
#
export PS1='\[\e[{{ ps1_color }};1m\][\u@\h\[\e[33;1m\] \w]\$ \[\e[m\]'
alias c='clear'
alias vi='/usr/bin/vim'

{% if inventory_hostname == 'docker1.example.com' %}
alias code='code --no-sandbox --user-data-dir=/root/vscode'
alias vscode='code'

alias ans='ansible'
alias anp='ansible-playbook'
alias anpchk='ansible-playbook --syntax-check'
alias anx='ansible-galaxy'
alias anv='ansible-vault'
alias ande="ansible-doc $1 | sed -n '/^EXAMPLES/,$p' | more"

alias irm='docker rmi -f $(docker images -aq)'
alias crm='docker rm -f $(docker ps -aq)'
alias vrm='docker volume rm -f $(docker volume ls -q)'
alias nrm='docker network prune -f'
alias dirm='docker image prune -f'
{% endif %}
